name: Radar CLI

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
  push:
    branches: [ main ]

jobs:
  security-scan:
    name: Security Scan
    runs-on: ubuntu-latest
    steps:
      - uses: eurekadevsecops/scan-action@main
        with:
          scanners: "opengrep,gitleaks,grype"
          token: ${{ secrets.EUREKA_AGENT_TOKEN }}
          profile: ${{ vars.EUREKA_PROFILE }}
